<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Directory {{.Path}}</title>

    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="/_static/{{.VHash}}/css/dir_listing.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
    <h1 class="path">{{.Path}}</h1>
    <div class="dldir-div">
      <a href="{{.Path}}?dldir=true">Download this directory</a>
    </div>
    <div>
      <a href=".">
        <span class="glyphicon glyphicon-arrow-up"></span>
        Parent Directory
      </a>
    </div>
      <table id="dir-table" class="table dir-table table-striped table-condensed">
        <thead>
          <th>
            Name
          </th>
          <th class="timeColumn">
            Time Modified
          </th>
        </thead>
        <tbody id="fileListings">
          {{with .FileRefs}}
            {{range .}}
              <tr class="fileEntry">
                <td>
                  <div>
                    <a href="{{.Path}}">
                      <span class="glyphicon {{.Glyphicon}}"></span>
                      {{.Name}}
                    </a>
                    {{if .IsDir}}
                    <div class="downloadFolderButton iconButton">
                      <a href="{{.Path}}?dldir=true">
                      <span class="glyphicon glyphicon-cloud-download"></span>
                      </a>
                    </div>
                    {{end}}
                    {{if .VideoType}}
                    <div class="playMovieButton iconButton">
                      <a href="#">
                        <span class="glyphicon glyphicon-play"></span>
                      </a>
                    </div>
                    {{end}}
                  </div>
                  {{if .VideoType}}
                  <div class="moviePanel collapse" src="{{.Path}}" type="{{.VideoType}}">
                  </div>
                  {{end}}
                </td>
                <td class="timeColumn">
                  {{.ModTime}}
                </td>
              </tr>
            {{end}}
          {{end}}
        </tbody>
      </table>
    </div>

    <div class="container">
      Rendered using <a href="https://github.com/gerow/sbserv">sbserv</a> revision {{.VHash}}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/_static/{{.VHash}}/js/jquery.tablesorter.min.js"></script>
    <script src="/_static/{{.VHash}}/js/dir_listing.js"></script>
  </body>
</html>
