<html>
  <h1 class="path">{{.Path}}</h1>
  <div class="dldir-div">
  	<a href="{{.Path}}?dldir=true">Download this directory</a>
  </div>
  <table class="dir-table">
    <thead>
      <th>
        Name
      </th>
    </thead>
    <tbody>
      <tr>
      	<td>
      	  <a href="..">..</a>
      	</td>
      </tr>
      {{with .FileRefs}}
        {{range .}}
          <tr>
            <td>
              <a href="{{.Path}}">{{.Name}}</a>
            </td>
          </tr>
        {{end}}
      {{end}}
    </tbody>
  </table>
</html>